.jumbotron {
    margin-bottom: 0px !important;
}

.navbar-default {
    border-radius: 0px !important;
}


div.spacer5 {
    clear: both;
    height: 5px;
}

div.spacer10 {
    clear: both;
    height: 10px;
}

div.spacer15 {
    clear: both;
    height: 15px;
}

div.spacer20 {
    clear: both;
    height: 20px;
}

div.spacer30 {
    clear: both;
    height: 30px;
}
